a{
    text-decoration: none;
}


.card{
    box-shadow: 6px 4px 13px -3px rgba(0,0,0,0.75);
    margin-top: 5vh;

}

.card img{
    height: 20vh;
    object-fit: cover;
}

/* Panels */
.bodytext{
    margin-top: 5vh;
    text-align: left;
}